In [12]:
import pandas as pd
from pandasql import sqldf

# df => dataframe
df = pd.read_csv('./data/vgsales.csv')

# Requête qui retourne tous les jeux sortis sur NES
nes_games = df.query("Platform == 'NES'")

In [13]:
# Requête qui retourne la somme des ventes japonaises de tous les jeux
sum_japan_games = df['JP_Sales'].sum()
sum_japan_games = round(sum_japan_games, 2)
sum_japan_games

1291.02

In [14]:

# Requête qui retourne le nombre de jeux sorti à partir de 2008
nb_games_from_2008 = len(df.query("Year >= 2008"))
nb_games_from_2008

8004

In [15]:
# Requête qui retourne le pourcentage de jeu Wii.
percentage_wii_games = len(df.query("Platform == 'Wii'")) / df.shape[0] * 100
percentage_wii_games = round(percentage_wii_games, 2)
percentage_wii_games

7.98

In [16]:
# Réaliser les requêtes ci-dessus avec sqldf. 
# Requête qui retourne tous les jeux sortis sur NES
sql_nes_games = sqldf('''
    SELECT * 
    FROM df where 
    Platform = "NES"
''')
sql_nes_games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
1,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
2,23,Super Mario Bros. 3,NES,1988.0,Platform,Nintendo,9.54,3.44,3.84,0.46,17.28
3,97,Super Mario Bros. 2,NES,1988.0,Platform,Nintendo,5.39,1.18,0.70,0.19,7.46
4,128,The Legend of Zelda,NES,1986.0,Action,Nintendo,3.74,0.93,1.69,0.14,6.51
...,...,...,...,...,...,...,...,...,...,...,...
93,5864,Famista '91,NES,1990.0,Sports,Namco Bandai Games,0.00,0.00,0.30,0.00,0.30
94,6163,Famista '92,NES,1991.0,Sports,Namco Bandai Games,0.00,0.00,0.28,0.00,0.28
95,10311,Final Fantasy I & II,NES,1994.0,Role-Playing,Square,0.00,0.00,0.11,0.00,0.11
96,11987,Teenage Mutant Ninja Turtles: Tournament Fighters,NES,1992.0,Fighting,Konami Digital Entertainment,0.04,0.01,0.02,0.00,0.07
97,12638,Adventures of Lolo,NES,1989.0,Puzzle,HAL Laboratory,0.06,0.00,0.00,0.00,0.06

In [17]:
# Requête qui retourne la somme des ventes japonaises de tous les jeux
sql_sum_japan_games = sqldf('''
    SELECT sum(JP_Sales) as jpSum
    FROM df
''')['jpSum']
sql_sum_japan_games

0    1291.02
Name: jpSum, dtype: float64

In [18]:
# Requête qui retourne le nombre de jeux sorti à partir de 2008
sql_nb_games_after_2008 = sqldf('''
    SELECT count(*) as countAoE2008
    FROM df
    WHERE Year >= 2008
''')
sql_nb_games_after_2008

   countAoE2008
0          8004

In [25]:
# Requête qui retourne le pourcentage de jeu Wii.
count_all = sqldf('''
    SELECT count(*) as count
    FROM df
''')

count_wii_games = sqldf('''
    SELECT count(*) as count
    FROM df
    WHERE Platform = 'Wii'
''')
round(count_wii_games / count_all * 100, 2)['count'][0]

7.98